<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1">

    <link href="/static/css/modern.css" rel="stylesheet">
    <link href="/static/css/modern-responsive.css" rel="stylesheet">

    <title>{% block title %} {% end %} </title>
</head>
<body class="modern-ui">
  {% block menu %} <a href='/'>VGDCloud</a>{% end %}

  <div class="page secondary">
    <div class="page-region">
      <div class="page-region-content">
	{% block cmd_region %}
	<form action="/" method="POST">
	  <div class="span10">
	    <div class="input-control textarea">
	      <textarea name="cmd">{% if cmd %}{{ cmd }}{% end %}</textarea>
	    </div>
	  </div>
	  <div class="offset9">
	    <input type="submit" value=" Enter " />
	  </div>
	</form>
	{% end %}
	{% block page_content %} 
	{% if view %} {% raw view %} {% end %}
	{% end %}
      </div>
    </div>
  </div>
</body>
</html>
